<div class="container">
  <div class="container search_container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form">
          <div class="input-group">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="search" placeholder="Search for products">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round float-right"><i class="material-icons">search</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="main products_container">
    <div class="container d-flex justify-content-around">
        <div class="card" width="200px">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="fas fa-shopping-basket align-bottom"></i>
              <button class="btn btn-primary btn-fab btn-fab-mini btn-round float-right"><i class="material-icons">add</i></button>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{product.product_name}}</h4>
            <h5>{{product.product_description}}</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste, tempore consequatur perferendis
              fugiat nulla facere nemo. Ex nesciunt quasi ipsa blanditiis recusandae reprehenderit quo.</p>
          </div>
        </div>
    </div>
  </div>
</div>
<<<<<<< HEAD

<ul>
  {{#each allProducts}}
  <li>id: {{this.id}} name: {{this.name}}</li>
  {{/each}}
</ul>
<script src="/js/index.js"></script>
=======
<script src="/js/index.js"></script>
<script src="/js/products.js"></script>
>>>>>>> 88f8e23dc7f525166b4db039f573e073e359342c
