<div class="main products_container">
  <div class="container search_container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
        </form>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-around">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">language</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Here is the Icon</h4>
        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can
        enjoy the main night life in Barcelona...
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">language</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Here is the Icon</h4>
        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can
        enjoy the main night life in Barcelona...
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">language</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Here is the Icon</h4>
        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can
        enjoy the main night life in Barcelona...
      </div>
    </div>
  </div>
</div>
<script src="/js/index.js"></script>