<div class="container">
  <div class="container search_container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form">
          <div class="input-group">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="search" placeholder="Search for products">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round float-right"><i class="material-icons">search</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="main products_container card-columns">
      {{#each allProducts}}
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="fas fa-shopping-basket align-bottom"></i>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round float-right"><i class="material-icons">add</i></button>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{this.name}}</h4>
              <h5>Category: {{this.category}}</h5>
              <p>Price: ${{this.price}}</p>
            </div>
          </div>
      {{/each}}
  </div>
</div>