<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        Grocery Buddy </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {{#if current_user}}
        <li class="nav-item">Hello, {{current_user.first_name}} {{current_user.last_name}}</li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Log Out</a>
        </li>
        <li class="nav-item">
          <a href="/products" class="nav-link">Products</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/login" class="nav-link">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user-sign-up">
            Sign-Up
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/grocery_bg.jpg')"
  alt="Photo by gemma on Unsplash">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Your Grocery Shopping Starts With Us.</h1>
        <h4>Every shopping trip needs a plan. We'll help you save time and money on your shopping. Let us find you the
          best deals while you just sit back and enjoy the savings.</h4>
        <br>
        <a href="/user-sign-up" target="_blank" class="btn btn-danger btn-raised btn-lg">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>
Photo by gemma on Unsplash
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Let&apos;s get shopping</h2>
          <h5 class="description">Grocery Buddy allows you to easily find the best savings for the items on your
            grocery
            list. Need to find the best price for dinner tonight? No problem. Need to plan out your family&apos;s
            grocery list for the week? We've got you covered. </h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">list</i>
              </div>
              <h4 class="info-title">Shopping Lists</h4>
              <p>Create a custom shopping list easily with products from local stores. Your list is available online
                or
                offline. Make shopping easy again.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">shopping_cart</i>
              </div>
              <h4 class="info-title">Local Stores</h4>
              <p>Hundreds of local grocery stores are available for you to choose from. Find all the local grocers
                you're used to. Search through their inventory.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">Real Savings</h4>
              <p>With Grocery Buddy you can quickly see which stores bring you the most savings. Compare your cost
                across your favorite local grocers. Find the best savings close to home.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <h2 class="title">Here is our team</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/trevor.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Trevor Handley
                  <br>
                  <small class="card-description text-muted">Developer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Trevor is our front man. He's responsible for most of the backend code on
                    this project. He's got a bright future. Check his latest projects out on GitHub.
                </div>
                <div class="card-footer justify-content-center">
                  <a href="https://github.com/THandley19" class="btn btn-link btn-just-icon"><i
                      class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/jonathan.png" alt="Thumbnail Image"
                    class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Jonathan Ruiz
                  <br>
                  <small class="card-description text-muted">Developer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Jonathan worked on this project in between his busy schedule. We
                    appreciate giving us the time he had. He's got a bright future. Check his latest projects out on
                    GitHub.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="https://github.com/Jonathan-glitch" class="btn btn-link btn-just-icon"><i
                      class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/rob.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Robert Finkley
                  <br>
                  <small class="card-description text-muted">Developer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Robert handled the front end on this project. If there are any front end
                    errors they are completely Trevor's fault. He's got a bright future. Check his latest projects out
                    on GitHub.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="https://github.com/rfinkley" class="btn btn-link btn-just-icon"><i
                      class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>