body {
    background-color: #fff;
}

.products_container {
    margin: 3rem;
    padding: 2rem;
    position: relative;
    top: 6rem;
}

.card {
    margin: 1rem;
}

.search_container {
    position: relative;
    top: 6rem;
    margin-bottom: 2rem;
}

.card-icon {
    font-size: 1.25rem;
}

.card {
    flex-basis: 25rem;
}